<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents">

      <!-- Shortcut -->
      <ComponentRef Id="MainAppShortcut" />
    </ComponentGroup>

    <!-- Installed files -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\Build\Build.Ilmerge">

      <!-- Shortcut to main application -->
      <Component Id="MainAppShortcut" Guid="{F5E4211E-7C71-43FE-A399-84A0D46E8491}">

        <Shortcut Id="MainAppShortcut"
                  Name="!(loc.ProductName_$(var.Platform))"
                  Target="[INSTALLFOLDER]\Eddy3d.html"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico" />

        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\$(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

        <!--Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>