<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpDEEE0EA93C42BFA3A1A7E842A1CA1BF4" Guid="{69DFF77E-2705-48AE-A056-7E9B0D57D2EF}">
                <File Id="fil342ECEAE7C985031885C67A15ABDCA9A" KeyPath="yes" Source="$(var.BasePath)\0_ProbingPlane.gh" />
            </Component>
            <Component Id="cmp86F675F47002FB43FF7AECA77CBD1A57" Guid="{346C89B6-76ED-4EB4-B30D-2643EF89E20E}">
                <File Id="fil32BC4C8A16431149FDA5332E68BFE933" KeyPath="yes" Source="$(var.BasePath)\1_WindDirs_8.gh" />
            </Component>
            <Component Id="cmp41388837B8F46554DA64FEC58D6529DA" Guid="{5249693F-8F32-4714-9EDC-B7F27B00512C}">
                <File Id="fil099FADE751F51F1E960C2351E63785A7" KeyPath="yes" Source="$(var.BasePath)\2_VisualizeWindVectors.gh" />
            </Component>
            <Component Id="cmp1A58FFEADE09A40F6DF4DF61DA3F8103" Guid="{1A49D7C5-A914-453E-8228-2D2FBA479E13}">
                <File Id="fil6A2D317E4C36F8BC5E39C0573A066E69" KeyPath="yes" Source="$(var.BasePath)\3_AnnualOutdoorComfort.gh" />
            </Component>
            <Component Id="cmp995D9BF33FF7DE6242D763638104303E" Guid="{E060D633-65F8-43A6-AB41-4ACCB0FE4B13}">
                <File Id="filBCEB6F30AB287D05E3C9846D200E5B13" KeyPath="yes" Source="$(var.BasePath)\3_SimpleWindAnalysis.gh" />
            </Component>
            <Component Id="cmpD49D277692AE4E227557165AB4A65CFE" Guid="{618137D7-62E4-45BD-B493-E86B606672D7}">
                <File Id="filFFFB7748AEF192083F15477EA7D55252" KeyPath="yes" Source="$(var.BasePath)\4_AnnualWindAnalysis.gh" />
            </Component>
            <Component Id="cmp6B60962CE4F65F1F983FE51D4F6BB668" Guid="{2152D020-B4D1-4D55-8E05-4467FAD4F2F9}">
                <File Id="fil34F0F2480B20135519F87C346BDBCCB8" KeyPath="yes" Source="$(var.BasePath)\5_PressureOnBuildingFacade.gh" />
            </Component>
            <Component Id="cmp31E82866F7032D823FA73C6312A36155" Guid="{D00A1E37-4136-4654-8DA1-EC3923DF10DB}">
                <File Id="filF02D5306AC255851D3858BDC591B1F47" KeyPath="yes" Source="$(var.BasePath)\6_AnnualOutdoorComfort.gh" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpDEEE0EA93C42BFA3A1A7E842A1CA1BF4" />
            <ComponentRef Id="cmp86F675F47002FB43FF7AECA77CBD1A57" />
            <ComponentRef Id="cmp41388837B8F46554DA64FEC58D6529DA" />
            <ComponentRef Id="cmp1A58FFEADE09A40F6DF4DF61DA3F8103" />
            <ComponentRef Id="cmp995D9BF33FF7DE6242D763638104303E" />
            <ComponentRef Id="cmpD49D277692AE4E227557165AB4A65CFE" />
            <ComponentRef Id="cmp6B60962CE4F65F1F983FE51D4F6BB668" />
            <ComponentRef Id="cmp31E82866F7032D823FA73C6312A36155" />
        </ComponentGroup>
    </Fragment>
</Wix>