<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.Platform)=x64?>
  <?define ProductCode = "{2C31FF9C-331E-418B-8C53-4C13ADC0E921}"?>
  <?else?>
  <?define ProductCode = "{0F1BA192-A348-49DD-9B18-1BAD521627BA}"?>
  <?endif?>

  <?define UpgradeCode = "{5BE389E0-E9F0-4DD9-B05C-CE4574E8C275}" ?>

  <!-- Define main product -->
  <Product Id="$(var.ProductCode)"
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)"
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">

    <!-- Provide package details -->
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)" />

    <!-- Downgrade error message -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <!-- Include .cab file into .msi file -->
    <MediaTemplate
      EmbedCab="yes" />

    <!-- Define main app icon -->
    <Icon Id="icon.ico" SourceFile="$(var.Eddy.ProjectDir)\Resources\Eddy3D.ico" />

    <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <!-- Help/Support website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">http://www.eddy3d.com</Property>

    <!-- Create a basic UI for the installer -->
    <UIRef Id="WixUI_Minimal" />

    <!-- Change the installer UI background images -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
    <!--  <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />-->
    <!-- <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />-->

    <Feature Id="ProductFeature" Title="Eddy3D" Level="1">

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />

      <ComponentGroupRef Id="GrasshopperPlugin" />

      <!-- -->
    </Feature>
  </Product>
</Wix>